table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    align-self: center;
    max-height: 30%;
    height: 30%;
    border-left:rgb(2, 189, 202)
}

th {
    background-color: white;
    color: rgb(2, 189, 202);
    text-align: left;
    padding: 8px;
}

td {
    text-align: left;
    padding: 8px;
}


tr:nth-child(odd) {
    background-color: #eefeff;
}

.paradata:hover {
    background-color: rgb(236,236,236);
}

.wrapper {
    display: flex;
}

.information {
    grid-area: information;
    max-height: 99%;
    height: 99%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    box-shadow: 1px 1px 5px grey;
}

.welcome-item {
    grid-area: wi;
    float:left;
    box-shadow: 1px 1px 5px grey;
}

.md-form.mt-0 {
    display:flex;
    align-items: center;
}

.material-icons.mdc-button__icon{
    position:absolute;
}

.mdc-button__icon + input{
    padding-left: 25px;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'information';
    grid-gap: 10px;
    padding: 10px;
}

.grid-container > div {
    background-color: white;
    padding: 20px 0;
    font-size: 15px;
}

html {
    background-color: lightblue;
}
