<div class='grid-container'>
    <div class='information'>
        <mat-tab-group mat-stretch-tabs width="100%" animationDuration="1000ms" style='padding-left: 10px; padding-right: 10px;'>
            <mat-tab label="Overview Page">
                <label>
                    The overview page is the first page you will be redirected to after logging in. On this page, you are able to manage the research groups. First of all, you are able to create a group by pressing "Add Group".
                    After you pressed this button, a window will show, on which you can enter the needed information to create the desired group. After you entered this information, simply press "Create" to confirm your actions.
                    <br><br>
                    After you created this group, it will show in the table that is shown below the "Add Group" button. Now lets say there are too many groups for you to search for this group on your own, then there is a search
                    functionality. Enter your newly added group name in the search bar and the group will automatically show up in the table.
                    <br><br>
                    Now that you've found your group, you might have made an error in typing the group name. If you hover over the group name, you can change the group name, so that you won't have to deal with the misstyped group name.
                    <br><br>
                    All settings are correct for the group, but you want another group just like this group. To make the exact same group, simply click the blue icon on the right side of the table. After clicking this button,
                    a window will pop up on your screen with a possibility for you to enter a new name for your copied group. After entering the new group name, you can click "Duplicate" to confirm your actions.
                    <br><br>
                    Let's say, a group isn't used anymore and you want to delete said group, click the red garbage can icon, which will show you a window to confirm your action. This might be a missclick, for which you can cancel the action
                    by clicking outside the window or click the "cancel" button. If you actually want to delete the group, confirm your action by clicking the "Delete" button.
                    <br><br>
                    From this page, you can go to the group page, where you can see the content of the corresponding group. You can do this by doubleclicking the first three cells of any row in the table. If you have the role of 
                    case management or superuser you can enter this group.
                    <br><br>
                    You can also enter the paradata page from this page. If you click the 'paradata' button, you can view the data of the corresponding research of that group. This page is only accessible if you have the role of 
                    monitoring or superuser.
                </label>
            </mat-tab>
            <mat-tab label="Group Page">
                <label>
                    Now that you are on the group page, you can manage the information of the selected group. First of all, you can set the status of a group to "active" or "inactive" by pressing the slider on the top of the page, which will 
                    allow and disallow the users in the group to access the corresponding research application. If the group is disabled, you are able to change the settings, but if it's enabled, you aren't.
                    <br><br>
                    Speaking of settings, in the bottom right of the page, you are able to set the settings of the corresponding research application of the group. These settings will affect the users experience on the research application.
                    <br><br>
                    On the left side of the page are the users within the group. You are able to move a user to a different group by selecting a different group under the "group" column. You can also change a user's password, by changing the 
                    input below the "Password" column. The password is shown as "SECRET" by default to secure the information of the user, but you are still able to change it.
                    <br><br>
                    Last of all, you are able to view the paradata visualisations in the top right window. Some of these visualisations may contain user specific information, which can be viewed by double clicking a user on the left window.
                    This information is only available to users with a moninitoring or superuser role.
                    <br><br>
                    Now, there might be a respondent who wants to join the research, which means you have to add him/her to a group.
                </label>
            </mat-tab>
            <mat-tab label="Create Users Page">
                <label>
                    
                </label>
            </mat-tab>
            <mat-tab label="Paradata Page">
            </mat-tab>
        </mat-tab-group>
    </div>
<div>