
<body>
    <div class="grid-container">
        <div class='header-item'>
            You are now viewing the paradata of group: <b><u>{{chosenGroup}}</u></b> with as user: <b><u>{{chosenUser}}</u></b>
        </div>
        <div class="table-item">
            <label>To select the paradata that you want to see, open this list:
                <select #paradataSelection (change)='paradataSelection.value = paradataSelection.value'>
                    <option value=''></option>
                    <option value='Receipts'>Receipts</option>
                    <option value="Phones">Phones</option>
                </select><br>
            </label>
            
            <label>Filter: <input #filterInput id='filterInput' (keyup)='filterInput.value = filterInput.value'><br><br></label>
            
            <table *ngIf="paradataSelection.value == 'Receipts'">
                <tr>
                    <th>Date</th>
                    <th>Receipts</th>
                </tr>
                <tr *ngFor="let data of paradata; index as paraDataId">
                    <td>{{data.date}}</td>
                    <td>{{data.receipts}}</td>
                </tr>
            </table>

            <table *ngIf="paradataSelection.value == 'Phones'">
                <tr>
                    <th>Phone Name</th>
                    <th>Phone Type</th>
                    <th>Manufacturer</th>
                    <th>Model</th>
                    <th>Receipts</th>
                    <th>Products</th>
                    <th>Photos</th>
                </tr>
                <tr *ngFor="let data of phoneParadata; index as paraDataId">
                    <td *ngIf="filterInput.value == ''">{{data.phoneName}}</td>
                    <td *ngIf="filterInput.value == ''">{{data.phoneType}}</td>
                    <td *ngIf="filterInput.value == ''">{{data.phoneManufacturer}}</td>
                    <td *ngIf="filterInput.value == ''">{{data.phoneModel}}</td>
                    <td *ngIf="filterInput.value == ''">{{data.receipts}}</td>
                    <td *ngIf="filterInput.value == ''">{{data.products}}</td>
                    <td *ngIf="filterInput.value == ''">{{data.photos}}</td>
                    
                    <td *ngIf="filterInput.value == data.phoneName || filterInput.value == data.phoneType || filterInput.value == data.phoneManufacturer || filterInput.value == data.phoneModel">{{data.phoneName}}</td>
                    <td *ngIf="filterInput.value == data.phoneName || filterInput.value == data.phoneType || filterInput.value == data.phoneManufacturer || filterInput.value == data.phoneModel">{{data.phoneType}}</td>
                    <td *ngIf="filterInput.value == data.phoneName || filterInput.value == data.phoneType || filterInput.value == data.phoneManufacturer || filterInput.value == data.phoneModel">{{data.phoneManufacturer}}</td>
                    <td *ngIf="filterInput.value == data.phoneName || filterInput.value == data.phoneType || filterInput.value == data.phoneManufacturer || filterInput.value == data.phoneModel">{{data.phoneModel}}</td>
                    <td *ngIf="filterInput.value == data.phoneName || filterInput.value == data.phoneType || filterInput.value == data.phoneManufacturer || filterInput.value == data.phoneModel">{{data.receipts}}</td>
                    <td *ngIf="filterInput.value == data.phoneName || filterInput.value == data.phoneType || filterInput.value == data.phoneManufacturer || filterInput.value == data.phoneModel">{{data.products}}</td>
                    <td *ngIf="filterInput.value == data.phoneName || filterInput.value == data.phoneType || filterInput.value == data.phoneManufacturer || filterInput.value == data.phoneModel">{{data.photos}}</td>

                </tr>
            </table>
        </div>
    </div>
</body>