
<div class="grid-container">
    <div id='welcome-item' class="welcome-item">
        <label style="font-size: large;">Welcome to the <b> group overview page</b>. <br>On this page you are able to manage the existing groups for the HBS research.</label>
    </div>
    <div class="table">
        <table>
            <tr>
                <th>Group Name</th>
                <th>Group Status</th>
                <th>Amount of Users</th>
                <th>Delete</th>
                <th>Paradata</th>
            </tr>

            <tr *ngFor="let group of groups; index as groupId" style='cursor: pointer;' (dblclick)="goToPage(group.group.name, group.group.id)">
                <td><input id='group{{groupId}}' value='{{group.group.name}}' (keyup.enter)="renameGroup(groupId, group.group.name)"></td>
                <td>{{group.group.status}}</td>
                <td>{{group.group.users}}</td>
                <td><button *ngIf="group.group.users == 0" (click)='deleteSingleEmptyGroup(group.group.name)'>Delete</button></td>
                <td><button (click)='goToParaDataPage(group.group.name, group.group.id)'>Paradata</button></td>
                
            </tr>
        </table>
    </div>
    <div class='create-group'>
    <form [formGroup]="createGroupForm" >
        <br>
        <div>
            <label for="groupName">
            Group Name
            </label>
            <input #newGroupNameTbx id='newGroupNameTbx' style='align-self: right; left: 50px;' id="groupName" formControlName="groupName" value="">
        </div>
        <p>
            <button *ngIf='newGroupNameTbx.value != ""' class="button" type="submit" (click)='createGroup(createGroupForm.value); groupFilter.value = ""; this.statusFilter = "all"; newGroupNameTbx.value = ""; filter("all", groupFilter.value)'>Create Group</button>
            <button *ngIf='confirmationCheck == false' class="button" type="button" (click)="confirmationCheck = true">Delete empty groups</button>
            <label *ngIf='confirmationCheck == true'><br>Are you sure you want to delete <b>all empty groups</b>?<br>
            <button class='button' type='button' (click)="confirmationCheck = false; deleteGroups();">Yes</button> |
            <button class='button' type='button' (click)="confirmationCheck = false">No</button></label><br><br>
            
            <label>Total users: {{allUsers}}</label>
        </p>
    </form>
    </div>
    <div class="filter-item"><br><br><br>
        <label>Filter on group names: <input #groupFilter (keyup)="groupFilter.value = groupFilter.value; filter(alteredFilter, groupFilter.value)"></label><br>
        <button *ngIf='this.statusFilter == "disabled" || this.statusFilter == "all" || this.statusFilter == "empty"' (click)='this.statusFilter = "enabled"; filter("enabled", groupFilter.value)'>Show enabled</button>
        <button *ngIf='this.statusFilter == "enabled" || this.statusFilter == "all" || this.statusFilter == "empty"' (click)='this.statusFilter = "disabled"; filter("disabled", groupFilter.value)'>Show disabled</button>
        <br>
        <button *ngIf='this.statusFilter != "empty"' (click)='this.statusFilter = "empty"; filter("empty", groupFilter.value); status = "Empty"'>Empty Groups</button><br><br>
        <button *ngIf='this.statusFilter != "all"' (click)='this.statusFilter = "all"; filter("all", groupFilter.value)'>Show All</button>
    </div>
</div>
<button [routerLink]="['/']">Log out</button>
