table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    align-self: center;
    max-height: 30%;
    height: 30%;
    border-left:rgb(2, 189, 202)
}

th {
    background-color: white;
    color: rgb(2, 189, 202);
    text-align: left;
    padding: 8px;
}

td {
    text-align: left;
    padding: 8px;
}


tr:nth-child(odd) {
    background-color: #eefeff;
}

.paradata:hover {
    background-color: rgb(236,236,236);
}

.wrapper {
    display: flex;
  }

.table {
    grid-area: tbl;
    max-height: 99%;
    height: 99%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    box-shadow: 1px 1px 5px grey;
}


tr:hover {
    background-color: rgb(5,129,162);
}
.blueButton {
    border-radius: 5px;
    height: 37px;
    background-color: rgb(0, 183, 255);
    color: white;
    font-weight: bold;
    border: none;
    width: 125px;
}

.searchBar {
    border-radius: 10px;
    width: 1650px;
    height: 30px;
    outline: none;
}

.welcome-item {
    grid-area: wi;
    float:left;
    box-shadow: 1px 1px 5px grey;
}

.md-form.mt-0{
    display:flex;
    align-items: center;  
}

.material-icons.mdc-button__icon{
    position:absolute;
}

.mdc-button__icon + input{
    padding-left: 25px;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'wi wi wi wi wi'
        'tbl tbl tbl tbl tbl';
    grid-gap: 10px;
    padding: 10px;
}

.grid-container > div {
    background-color: white;
    padding: 20px 0;
    font-size: 15px;
}

html {
    background-color: lightblue;
}
