<span (click)='navigation.toggle()' style='cursor: pointer;'>&#9776; Navigation</span>
<div class="grid-container">
    <div id='welcome-item' class="welcome-item">
        <label style="font-size: large;">Welcome to the <b> group overview page</b>. <br>On this page you are able to manage the existing groups for the HBS research.</label>
    </div>
    <div class="table">
        <table>
            <tr>
                <th>Group Name</th>
                <th>Group Status</th>
                <th>Amount of Users</th>
                <th>Delete</th>
                <th>Paradata</th>
            </tr>

            <tr *ngFor="let group of groups; index as groupId" style='cursor: pointer;' (dblclick)="goToPage(group.group.name, group.group.id)">
                <!-- Show All Groups -->
                <td *ngIf='statusFilter == "all" && groupFilter.value == ""'><input id='group{{groupId}}' value='{{group.group.name}}' (keyup.enter)="renameGroup(groupId, group.group.name)"></td>
                <td *ngIf='statusFilter == "all" && groupFilter.value == ""'>{{group.group.status}}</td>
                <td *ngIf='statusFilter == "all" && groupFilter.value == ""'>{{group.group.users}}</td>
                <td *ngIf='statusFilter == "all" && groupFilter.value == ""'><button *ngIf="group.group.users == 0" (click)='deleteSingleEmptyGroup(group.group.name)'>Delete</button></td>
                <td *ngIf='statusFilter == "all" && groupFilter.value == ""'><button (click)='goToParaDataPage(group.group.name, group.group.id)'>Paradata</button></td>

                <!-- Show All Groups With Filter -->
                <td *ngIf='statusFilter == "all" && (groupFilter.value != "" && groupFilter.value == group.group.name)'><input id='group{{groupId}}' value='{{group.group.name}}' (keyup.enter)="renameGroup(groupId, group.group.name)"></td>
                <td *ngIf='statusFilter == "all" && (groupFilter.value != "" && groupFilter.value == group.group.name)'>{{group.group.status}}</td>
                <td *ngIf='statusFilter == "all" && (groupFilter.value != "" && groupFilter.value == group.group.name)'>{{group.group.users}}</td>
                <td *ngIf='statusFilter == "all" && (groupFilter.value != "" && groupFilter.value == group.group.name)'><button *ngIf="group.group.users == 0" (click)='deleteSingleEmptyGroup(group.group.name)'>Delete</button></td>
                <td *ngIf='statusFilter == "all" && (groupFilter.value != "" && groupFilter.value == group.group.name)'><button (click)='goToParaDataPage(group.group.name, group.group.id)'>Paradata</button></td>

                <!-- Show All Disabled Groups -->
                <td *ngIf='statusFilter == "disabled" && group.group.status == "disabled" && groupFilter.value == ""'><input id='group{{groupId}}' value='{{group.group.name}}' (keyup.enter)="renameGroup(groupId, group.group.name)"></td>
                <td *ngIf='statusFilter == "disabled" && group.group.status == "disabled" && groupFilter.value == ""'>{{group.group.status}}</td>
                <td *ngIf='statusFilter == "disabled" && group.group.status == "disabled" && groupFilter.value == ""'>{{group.group.users}}</td>
                <td *ngIf='statusFilter == "disabled" && group.group.status == "disabled" && groupFilter.value == ""'><button *ngIf="group.group.users == 0" (click)='deleteSingleEmptyGroup(group.group.name)'>Delete</button></td>
                <td *ngIf='statusFilter == "disabled" && group.group.status == "disabled" && groupFilter.value == ""'><button (click)='goToParaDataPage(group.group.name, group.group.id)'>Paradata</button></td>
                
                <!-- Show All Enabled Groups -->
                <td *ngIf='statusFilter == "enabled" && (group.group.status == "enabled" && groupFilter.value == "")'><input id='group{{groupId}}' value='{{group.group.name}}' (keyup.enter)="renameGroup(groupId, group.group.name)"></td>
                <td *ngIf='statusFilter == "enabled" && (group.group.status == "enabled" && groupFilter.value == "")'>{{group.group.status}}</td>
                <td *ngIf='statusFilter == "enabled" && (group.group.status == "enabled" && groupFilter.value == "")'>{{group.group.users}}</td>
                <td *ngIf='statusFilter == "enabled" && (group.group.status == "enabled" && groupFilter.value == "")'><button *ngIf="group.group.users == 0" (click)='deleteSingleEmptyGroup(group.group.name)'>Delete</button></td>
                <td *ngIf='statusFilter == "enabled" && (group.group.status == "enabled" && groupFilter.value == "")'><button (click)='goToParaDataPage(group.group.name, group.group.id)'>Paradata</button></td>

                <!-- Show All Enabled Groups With Filter -->
                <td *ngIf='statusFilter == "enabled" && (group.group.status == "enabled" && groupFilter.value == group.group.name)'><input id='group{{groupId}}' value='{{group.group.name}}' (keyup.enter)="renameGroup(groupId, group.group.name)"></td>
                <td *ngIf='statusFilter == "enabled" && (group.group.status == "enabled" && groupFilter.value == group.group.name)'>{{group.group.status}}</td>
                <td *ngIf='statusFilter == "enabled" && (group.group.status == "enabled" && groupFilter.value == group.group.name)'>{{group.group.users}}</td>
                <td *ngIf='statusFilter == "enabled" && (group.group.status == "enabled" && groupFilter.value == group.group.name)'><button *ngIf="group.group.users == 0" (click)='deleteSingleEmptyGroup(group.group.name)'>Delete</button></td>
                <td *ngIf='statusFilter == "enabled" && (group.group.status == "enabled" && groupFilter.value == group.group.name)'><button (click)='goToParaDataPage(group.group.name, group.group.id)'>Paradata</button></td>

                <!-- Show All Disabled Groups With Filter -->
                <td *ngIf='statusFilter == "disabled" && (group.group.status == "disabled" && groupFilter.value == group.group.name)'><input id='group{{groupId}}' value='{{group.group.name}}' (keyup.enter)="renameGroup(groupId, group.group.name)"></td>
                <td *ngIf='statusFilter == "disabled" && (group.group.status == "disabled" && groupFilter.value == group.group.name)'>{{group.group.status}}</td>
                <td *ngIf='statusFilter == "disabled" && (group.group.status == "disabled" && groupFilter.value == group.group.name)'>{{group.group.users}}</td>
                <td *ngIf='statusFilter == "disabled" && (group.group.status == "disabled" && groupFilter.value == group.group.name)'><button *ngIf="group.group.users == 0" (click)='deleteSingleEmptyGroup(group.group.name)'>Delete</button></td>
                <td *ngIf='statusFilter == "disabled" && (group.group.status == "disabled" && groupFilter.value == group.group.name)'><button (click)='goToParaDataPage(group.group.name, group.group.id)'>Paradata</button></td>

                <td *ngIf='statusFilter == "empty" && group.group.users == 0'><input id='group{{groupId}}' value='{{group.group.name}}' (keyup.enter)="renameGroup(groupId, group.group.name)"></td>
                <td *ngIf='statusFilter == "empty" && group.group.users == 0'>{{group.group.status}}</td>
                <td *ngIf='statusFilter == "empty" && group.group.users == 0'>{{group.group.users}}</td>
                <td *ngIf='statusFilter == "empty" && group.group.users == 0'><button *ngIf="group.group.users == 0" (click)='deleteSingleEmptyGroup(group.group.name)'>Delete</button></td>
                <td *ngIf='statusFilter == "empty" && group.group.users == 0'><button (click)='goToParaDataPage(group.group.name, group.group.id)'>Paradata</button></td>

                
            </tr>
        </table>
    </div>
    <div class='create-group'>
    <form [formGroup]="createGroupForm" (ngSubmit)="createGroup(createGroupForm.value)" >
        <br>
        <div>
            <label for="groupName">
            Group Name
            </label>
            <input #newGroupNameTbx id='newGroupNameTbx' style='align-self: right; left: 50px;' id="groupName" formControlName="groupName" value="">
        </div>
        <div>
            <label for="key">
            Key
            </label>
            <input id="key" formControlName="key">
        </div>
        <div>
            <label for="value">
            Value
            </label>
            <input id="value" formControlName="value">
        </div>
        <p>
            <button *ngIf='newGroupNameTbx.value != ""' class="button" type="submit">Create Group</button>
            <button class="button" type="button" (click)="deleteGroups()">Delete empty groups</button>
            <label #warningLbl id='warningLbl' style="visibility: hidden;"></label><br><br>
            
            
        </p>
    </form>
    </div>
    <div class="filter-item"><br><br><br>
        <label>Filter on group names: <input #groupFilter (keyup)="groupFilter.value = groupFilter.value"></label><br>
        <button *ngIf='this.statusFilter == "disabled" || this.statusFilter == "all" || this.statusFilter == "empty"' (click)='this.statusFilter = "enabled"; groupFilter.value = ""'>Show enabled</button>
        <button *ngIf='this.statusFilter == "enabled" || this.statusFilter == "all" || this.statusFilter == "empty"' (click)='this.statusFilter = "disabled"; groupFilter.value = ""'>Show disabled</button>
        <br>
        <button *ngIf='this.statusFilter != "empty"' (click)='this.statusFilter = "empty"'>Empty Groups</button><br><br>
        <button *ngIf='this.statusFilter != "all"' (click)='this.statusFilter = "all"; groupFilter.value = ""'>Show All</button>
    </div>
</div>
<button [routerLink]="['/menu']">Back</button>