<img src="https://www.cbs.nl/Content/images/cbs-ld-logo.png" alt="CBS" width="100" height="100">

<form [formGroup]='loginForm' (ngSubmit)="onSubmit(loginForm.value)" class="login">
    <div>
        <label for="name">
          Name
        </label>
        <input id="name" type="text" formControlName="name">
      </div>
    
      <div>
        <label for="address">
          Password
        </label>
        <input id="password" type="password" formControlName="password">
      </div>
      
      <button id='loginBtn' type="button"  [routerLink]="['/config']">Login</button>
           
</form>
