
/* table styling */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    align-self: center;
}


th {
    text-align: center;
    border: 1px solid #dddddd;
    padding: 8px;
}

td {
    text-align: center;
    border: 1px solid #dddddd;
    padding: 8px;
}

/* gridding */

.headerItem {    
    grid-area: header;
    border: 1px solid rgba(0, 0, 0, 0.8);    
}

.tableItem {
    grid-area: tbl;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 15px;
}

.additionItem {
    grid-area: addition;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.filterItem {
    grid-area: filter;
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'filter filter tbl tbl tbl tbl'
        'addition addition addition addition addition addition';
    grid-gap: 10px;
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
    font-size: 15px;
}

/* Label styling */

.labelToLeft {
    position: relative;
}

.elementToLeft {
    position: relative;
}

.elementToRight {
    position: fixed;
    right: 20px;
}

/* sidenav bar */

body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
