table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    align-self: center;
    max-height: 30%;
    height: 30%;
    border-left:rgb(2, 189, 202);
    padding-left: 10px;
    padding-right: 10px;
}

th {
    background-color: white;
    color: rgb(2, 189, 202);
    text-align: left;
    padding: 8px;
}

td {
    text-align: left;
    padding: 8px;
}


tr:nth-child(odd) {
    background-color: #eefeff;
}


tr:hover {
    background-color: rgb(5,129,162);
}

.header-item {
    grid-area: HI;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    font-size: 15px;
}

.userAddition {
    grid-area: UA;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
}

.userAdditionAmount {
    grid-area: UAAmount;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "HI"
        'UAAmount'
        'UA';
    grid-gap: 10px;
    padding: 10px;
}

.grid-container > div {
    padding: 20px 0;
    background-color: white;
    font-size: 15px;
}

.pageLbl {
    margin: 0;
    position: absolute;
    top: 75px;
    left: 175px;
    float: left;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

