<button routerLink='/overview'>Home</button>

<div class="grid-container">
    <div class="description-item">
        <label>
            Welcome to the Receipt Page.<br>
            On this page you are able to view the uploaded receipts of <b><i>{{chosenUser}}</i></b>
        </label>
    </div>
    <div class='receipt-photos-item'>
        <table *ngIf='userReceiptImg.length != 0'>
            <tr>
                <th>Id</th>
                <th>Photo</th>
            </tr>
        
            <tr *ngFor="let element of userReceiptImg; index as elementId">
                <td>{{elementId}}</td>
                <td><img [src]="'data:image/jpg;base64,'+element.base64Img" /></td>
            </tr>
        </table>

        <label *ngIf='userReceiptImg.length == 0'><b>This user has not uploaded any receipts or photos of receipts</b></label>
    </div>

    <div class='receipt-product-item' *ngIf='userReceiptImg.length != 0'>
        <table>
            <tr>
                <th>Product</th>
                <th>Category</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
            <tr *ngFor='let element of userReceiptProductsInfo'>
                <td>
                    <ng-container *ngFor="let productInReceipt of element.product">
                        {{productInReceipt}}<br>
                    </ng-container>
                </td>
                <td>
                    <ng-container *ngFor="let categoryInReceipt of element.productCategory">
                        {{categoryInReceipt}}<br>
                    </ng-container>
                </td>
                <td>
                    <ng-container *ngFor='let priceValue of element.individualPrice'>
                        {{priceValue}}<br>
                    </ng-container>
                    <hr>
                    Total: €{{element.price}}
                </td>
                <td>{{element.productDate}}</td>
            </tr>
        </table>
    </div>
</div>
<button routerLink='/groups/{{chosenGroup}}'>Back</button>