table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    align-self: center;
}

th {
    background-color: black;
    color: white;
    text-align: center;
    border: 1px solid #dddddd;
    padding: 8px;
}

td {
    text-align: center;
    border: 1px solid gray;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}


.description-item {
    grid-area: desc;
    background-color: lightgray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}


.receipt-photos-item {
    grid-area: rpi;
    background-color: lightgray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 15px;
    overflow-x: hidden;
    overflow-y: auto;
}



.receipt-product-item {
    grid-area: rprodi;
    background-color: lightgray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 15px;
    overflow-x: hidden;
    overflow-y: auto;
}


.grid-container {
    display: grid;
    grid-template-areas:
        'desc'
        'rpi'
        'rprodi';
    grid-gap: 10px;
    padding: 10px;
}

.grid-container > div {
    background-color: lightgray;
    padding: 20px 0;
    font-size: 15px;
}

.back {
    text-align: center;
    margin: 0;
    position: fixed;
    bottom: 1%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5),
            inset 2px 2px 8px rgba(0,0,0,0.5);
}