
<div class="grid-container">
    <div class="description-item">
        <img src="https://www.cbs.nl/Content/images/cbs-ld-logo.png" alt="CBS" align="left" width="100" height="100" routerLink='/overview' style="cursor: pointer;">
        
        
        <h1>
            {{chosenUser}}'s receipts
        </h1>
    </div>
    <div class='receipt-photos-item'>
        <table *ngIf='userReceiptImg.length != 0'>
            <tr>
                <th>Id</th>
                <th>Price</th>
                <th>Date</th>
                <th>Photo</th>
            </tr>
        
            <tr *ngFor="let element of userReceiptImg; index as elementId">
                <td>{{elementId}}</td>
                <td>{{element.totalPrice}}</td>
                <td>{{element.date}}</td>
                <td><img [src]="'data:image/jpg;base64,'+element.base64Img" style="height:40%; width: 20%;" /></td>
            </tr>
        </table>

        <label *ngIf='userReceiptImg.length == 0'><b>This user has not uploaded any receipts or photos of receipts</b></label>
    </div>

    <div class='receipt-product-item' *ngIf='userReceiptImg.length != 0'>
        <table>
            <tr>
                <th>Product</th>
                <th>Category</th>
                <th>Price</th>
                <th>Total Price</th>
                <th>Date</th>
            </tr>
            <tr *ngFor='let element of userReceiptProductsInfo'>
                <td>
                    <hr>
                    <ng-container *ngFor="let productInReceipt of element.product; index as receiptId">
                        {{productInReceipt}}<br><hr *ngIf='productInReceipt != productInReceipt[productInReceipt.length-1]'>
                    </ng-container>
                </td>
                <td>
                    <hr>
                    <ng-container *ngFor="let categoryInReceipt of element.productCategory">
                        {{categoryInReceipt}}<br><hr>
                    </ng-container>
                </td>
                <td>
                    <hr>
                    <ng-container *ngFor='let priceValue of element.individualPrice'>
                        {{priceValue}}<br><hr>
                    </ng-container>
                </td>
                <td>
                    Total: €{{element.price}}
                </td>
                <td>{{element.productDate}}</td>
            </tr>
        </table>
    </div>
</div>
<img src='https://www.svgrepo.com/show/67631/back-arrow.svg' style="height: 25px; width: 25px; cursor: pointer;" routerLink='/groups/{{chosenGroup}}'>