<p>config works!</p>
<table>
    <tr>
        <th>Id</th>
        <th>GroupId</th>
        <th>Name</th>
        <th>Password</th>
        <th>SyncOrder</th>
    </tr>
    <tr *ngFor="let users of users1; index as userId">
        <td>{{users.id}}</td>
        <td>{{users.groupId}}</td>
        <td>{{users.name}}</td>
        <td>{{users.password}}</td>
        <td>{{users.syncOrder}}</td>
    </tr>
</table>

<table>
    <tr>
        <th>Group Id</th>
        <th>Group Name</th>
        <th>Group Status</th>
        <th>Group Infos</th>
        
    </tr>
    <tr *ngFor="let group of groups; index as groupId">
        <td>{{group.group.id}}</td>
        <td>{{group.group.name}}</td>
        <td>{{group.group.status}}</td>
        <td>{{group.groupInfos}}</td>
        
    </tr>
</table>