/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";

html { 
    background-color: rgb(219, 250, 255);
    height: 100%;
    background-size: auto;
    background-repeat: inherit;
    background-position: center;
    max-height: 10000px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
}

button {
    cursor: pointer;
}

label {
    cursor:text;
    font-family: 'SohoPro';
    font-weight: normal;
    font-style: normal;
}



h1 {
    font-family: 'AkkoPro';
    font-weight: normal;
    font-style: normal;
}

div {
  border-radius: 5px;
}

html, body { 
    height: 100%; 
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

tr:hover {
    background-color: rgb(5,129,162);
}

.pageLbl {
    margin: 0;
    position: absolute;
    top: 75px;
    left: 175px;
    float: left;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.bread_crumb {
    margin: 0;
    position: absolute;
    top: 110px;
    left: 265px;
    float: left;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.profile .action {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.profile .action img {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    object-fit: cover;
}

.action {
    position: fixed;
    top: 20px;
    right: 30px;
}

.menu {
    margin: 0;
    padding: 0;
}

.action .menu {
    position: absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.action .menu.active {
    visibility: visible;
    opacity: 1;
    top: 80px;
}

.action .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: #555;
    line-height: 1.2em;
}

.action .menu::before {
    content: '';
    position: absolute;
    top: -14px;
    right: 28px;
    width: 20px;
    height: 20px;
    border-top: solid;
    border-left: solid;
    background: #fff;
    transform: rotate(45deg);
}

.action .menu ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
}

.action .menu h3 span {
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}

.action .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

.action .menu ul li:hover img {
    opacity: 1;
}

.action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}

.action .menu ul li:hover a {
    color: #ff5d94;
}
