/* You can add global styles to this file, and also import other style files */
html { 
    background-color: rgb(219, 250, 255);
    height: 100%;
    background-size: auto;
    background-repeat: inherit;
    background-position: center;
    max-height: 10000px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
}

button {
    cursor: pointer;
}

label {
    cursor:text;
    font-family: 'SohoPro';
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'AkkoPro';
    font-weight: normal;
    font-style: normal;
}

div {
  border-radius: 25px;
}