<span (click)='navigation.toggle()' style='cursor: pointer;'>&#9776; Navigation</span><br>
<label style="right: 10px">{{userName}}</label>
<img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="img" style="right: 10px">

<body>
    <div class="grid-container">
        <div id="headerDiv" class="headerItem">Welcome to the Household Budget Survey Application.<br> In this window, you have the opportunity to log in and navigate through the menu.</div>

        <div id="menuDiv" class="menuItem">
            <button id="goToOverviewPage" class="block" [routerLink]="['/overview']" style='cursor: pointer;'>Group Overview</button><br>
            <button id="goToPhonesPage" class="block" [routerLink]="['/phone']" style='cursor: pointer;'>Phones</button><br>
            <button id="goToStoresPage" class="block" [routerLink]="['/menu']" style='cursor: pointer;'>Stores</button><br>
            <button id="goToReceiptsPage" class="block" [routerLink]="['/menu']" style='cursor: pointer;'>Receipts</button><br>
            <button id="goToFeedbackPage" class="block" [routerLink]="['/menu']" style='cursor: pointer;'>Feedback</button><br>
            <button id="goToChartsPage" class="block" [routerLink]="['/menu']" style='cursor: pointer;'>Graphs</button>
        </div>

        <div id="commonLocationDiv" class="locationItem">
            <label>Shown underneath are the most common visited shops</label>
            <table id="HtmlDataTbl">
                <tr>
                    <th>Group Name</th>
                    <th>User Amount</th>
                    <th>Status</th>
                </tr>

                <tr *ngFor="let group of enabledGroups; index as enabledGroupId">
                    <td>{{group.group.name}}</td>
                    <td>{{group.group.users}}</td>
                    <td>{{group.group.status}}</td>
                </tr>
                
            </table>
        </div>
    </div>
</body>
