table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    align-self: center;
    padding-left: 5px;
    padding-right: 5px;
}

th {
    background-color: white;
    color: rgb(2, 189, 202);
    text-align: left;
    padding: 8px;
}

td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #eefeff;
}

tr:hover {
    background-color: rgb(119, 203, 229);
}

.matBtn:hover {
    background-color: rgb(236,236,236);
}

.wrapper {
    overflow: auto;
}

#tabbed-item {
    grid-area: tabbed;
    width: 100%;
    padding-left: 50px;
    padding-top: 30px;
    text-align: left;
    float: left;
}

.table-item {
    grid-area: tbl;
    background-color: white;
    font-size: 15px;
    max-height: 650px;
    overflow-x: hidden;
    overflow-y: auto;
}

.searchBar {
    border-radius: 10px;
    height: 30px;
    outline: none;
}

.md-form.mt-0{
    display:flex;
    align-items: center;  
}

.material-icons.mdc-button__icon{
    position:absolute;
}

.mdc-button__icon + input{
    padding-left: 25px;
}

.header-item {
    grid-area: HI;
    background-color: white;
    text-align: center;
    font-size: 15px;
}

.blueButton {
    border-radius: 5px;
    height: 37px;
    background-color: rgb(0, 183, 255);
    color: white;
    font-weight: bold;
    border: none;
}

.groupInfos-item {
    grid-area: gIi;
    background-color: white;
    font-size: 15px;
    text-align: center;
    max-height: 325px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}

.graph-item {
    grid-area: graph;
    background-color: white;
    font-size: 15px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex; 
    text-align: center;
}


.grid-container {
    display: grid;
    grid-template-areas:
        'HI HI'
        'tbl graph'
        'tbl graph'
        'tbl gIi';
    grid-gap: 10px;
    padding: 10px;
}

.grid-container > div {
    background-color: white;
    padding: 20px 0;
    font-size: 15px;
}

.back {
    text-align: center;
    margin: 0;
    position: fixed;
    bottom: 1%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5),
            inset 2px 2px 8px rgba(0,0,0,0.5);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }