table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    align-self: center;
    padding-left: 5px;
    padding-right: 5px;
}

th {
    background-color: white;
    color: rgb(2, 189, 202);
    text-align: left;
    padding: 8px;
}

td {
    text-align: left;
    padding: 8px;
}


tr:nth-child(odd) {
    background-color: #eefeff;
}

.wrapper {
    overflow: auto;
}
#tabbed-item {
    grid-area: tabbed;
    padding-left: 50px;
    padding-top: 30px;
    text-align: left;
    float: left;
}

#group-functionalities-item {
    background-color: white;
    text-align: left;
    float: left;
    padding-left: 50px;
    padding-top: 30px;
}

#users-functionalities-item {
    background-color: white;
    text-align: left;
    float: left;
    padding-left: 50px;
    padding-top: 30px;
}

#group-infos-functionalities-item {
    background-color: white;
    text-align: left;
    max-height: 245px;
    padding-left: 50px;
    padding-top: 30px;
}

.table-item {
    background-color: white;
    font-size: 15px;
    max-height: 625px;
    overflow-x: hidden;
    overflow-y: auto;
}

.searchBar {
    border-radius: 10px;
    height: 30px;
    outline: none;
}

.md-form.mt-0{
    display:flex;
    align-items: center;  
}

.material-icons.mdc-button__icon{
    position:absolute;
}

.mdc-button__icon + input{
    padding-left: 25px;
}

.header-item {
    grid-area: HI;
    background-color: white;
    text-align: center;
    font-size: 15px;
}

.blueButton {
    border-radius: 5px;
    height: 37px;
    background-color: rgb(0, 183, 255);
    color: white;
    font-weight: bold;
    border: none;
}

.groupInfos-item {
    grid-area: gIi;
    background-color: white;
    font-size: 15px;
    text-align: center;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}


.grid-container {
    display: grid;
    grid-template-areas:
        'HI HI HI HI'
        'tabbed tabbed tabbed tabbed';
    grid-gap: 10px;
    padding: 10px;
}

.grid-container > div {
    background-color: white;
    padding: 20px 0;
    font-size: 15px;
}

.back {
    text-align: center;
    margin: 0;
    position: fixed;
    bottom: 1%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5),
            inset 2px 2px 8px rgba(0,0,0,0.5);
}
    