
<div class="grid-container">
    <div class='management-item'>
        <label #statusLbl id='statusLbl'>Down below are the users in the group: <b>{{chosenGroup}}</b></label><br><br>
        <label>To add a user to this group, click this button | </label>
        <button [routerLink]="['/createUsers']">Add users</button><br><br>
        <span *ngFor="let group of groups">
            <div *ngIf="chosenGroup == group.group.name">
                <label>This group is currently: <b> {{group.group.status}}</b></label><br>
                <button #disableBtn *ngIf="group.group.status == 'disabled'" (click)="enableGroup(group.group.id)">Enable Group</button>
                <button #enableBtn *ngIf="group.group.status == 'enabled'" (click)="disableGroup(group.group.id)">Disable Group</button>
            </div>
        </span>
    </div>
    <div class='table-item'>
        <table *ngIf='user'>
            <tr>
                <th>Name</th>
                <th>Password</th>
                <th>Group</th>
            </tr>
            <tr *ngFor="let user of user; index as userId" (dblclick)="userClick(user.name)" style="cursor: pointer;">
                <td>{{user.name}}</td>
                <td><input id='passwordValue{{userId}}' value='{{user.password}}' (keyup.enter)="changePassword(userId, user.name)"></td>
                <td>
                    <select #group{{userId}} id='group{{userId}}' (change)="regroupUsers(userId, user.name)">
                        <option>{{chosenGroup}}</option>
                        <ng-container *ngFor='let groupName of allGroupNames'>
                            <option *ngIf="groupName != chosenGroup" value="{{groupName}}">{{groupName}}</option>
                        </ng-container>
                    </select>
                </td>
            </tr>
        </table><br>
        <label *ngIf="!user"><b>There seems to be no users in this group</b></label>
    </div><br>
    <div class='groupInfos-item'>
        <label *ngIf="chosenGroupInfos.length == 0 && (amountInput.value == 0 || amountInput.value == '')"><b>There seems to be no groupInfos for this group</b></label>
        <table id='groupInfosTbl' *ngIf='chosenGroupInfos.length > 0 || addedValues.length > 0'>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            
        
            <tr *ngFor="let infos of chosenGroupInfos; index as infosId">
                <td>
                    <input id="key{{infosId}}"  name="key{{infosId}}" value="{{infos.key}}" (keyup.enter)="changeGroupInfos()">
                </td>
                <td>
                    <input id="value{{infosId}}" name="value{{infosId}}" value="{{infos.value}}" (keyup.enter)="changeGroupInfos()">
                </td>
            </tr>
            <tr *ngFor="let value of addedValues; let index = index">
                <td><input id="newKey{{index}}" type="text" name="name{{index}}" (keydown.enter)='createNewGroupInfos()'></td>
                <td><input id="newValue{{index}}" type="text" name="password{{index}}" (keydown.enter)='createNewGroupInfos()'></td>
            </tr>
            
        </table><br>
        <button *ngIf='chosenGroupInfos.length > 0 || addedValues.length > 0' (click)="createNewGroupInfos()">Apply</button>
    </div>
        <!--
         -->
    <div id='regroupGroup' class='regroup-item'>
        <label>Username Filter: <input #filterInput (keyup)="filterInput.value = filterInput.value; filterOnUsers(filterInput.value)"></label><br><br>
        <label>To regroup all users in this group, fill in the field down below and press <b><i>Regroup</i></b> when ready.<br>
            There is also an option to duplicate a group, including its <b>Group Infos</b>, but not its <b>Users</b> by pressing <b><i>Duplicate</i></b>.<br>
            Finally, the <b>Group Infos</b> can be deleted by pressing <b><i>Delete Group Infos</i></b>.</label><br>
        <input #regroupGroupTbx id='regroupGroupTbx'>
        <button (click)="regroupGroup(regroupGroupTbx.value)">Regroup</button>
        <button (click)="duplicateGroup(regroupGroupTbx.value)">Duplicate</button>
        <button (click)="deleteGroupInfos()">Delete Group Infos</button>
        
        <br><br>        
        <label>Down below, you are able to add groupInfos to the table above.</label><br>
        <input #amountInput id='amountInput' type="number" (change)='addvalue(amountInput.value)' min="0">
        
    </div>
    
</div>
<!-- <ng-container *ngFor='let element of userReceiptImg'>
    <label>{{element.base64image}}</label>
    <img [src]="'data:image/jpg;base64,'+element.base64Img" style="height: 20%; width: 20%;"/>
</ng-container> -->
<button [routerLink]="['/overview']" class='back'>Back</button>

