<div class="grid-container">
    <div id='tableForm' class='table-item'>
        <label #statusLbl id='statusLbl'>Down below are the users in the group: <b>{{chosenGroup}}</b></label><br><br>
        <label>To add a user to this group, click this button | </label>
        <button [routerLink]="['/createUsers']">Add users</button><br><br>
        <label *ngFor="let group of groups">
            <div *ngIf="chosenGroup == group.group.name">
                <label>This group is currently: <b> {{group.group.status}}</b></label><br>
                <button #disableBtn *ngIf="group.group.status == 'disabled'" (click)="enableGroup()" [routerLink]="['/groups', group.group.id]">Enable Group</button>
                <button #enableBtn *ngIf="group.group.status == 'enabled'" (click)="disableGroup()" [routerLink]="['/groups', group.group.id]">Disable Group</button>
            </div>
        </label>
        <table>
            <tr>
                <th>Id</th>
                <th>GroupId</th>
                <th>Name</th>
                <th>Password</th>
                <th>Group</th>
            </tr>
            <tr *ngFor="let user of user; index as userId">
                <td>{{user.id}}</td>
                <td>{{user.groupId}}</td>
                <td>{{user.name}}</td>
                <td><input id='passwordValue{{userId}}' value='{{user.password}}' (keyup.enter)="changePassword(userId, user.name)"></td>
                <td><input id='group{{userId}}' value='{{chosenGroup}}' (keyup.enter)="regroupUsers(userId, user.name)"></td>
            </tr>
        </table>
        
        <br><br>
        <label></label>
        <table id='groupInfosTbl' *ngIf='chosenGroupInfos.length > 0'>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            
           
            <tr *ngFor="let infos of chosenGroupInfos; index as infosId">
                <td>
                    <input id="key{{infosId}}"  name="key{{infosId}}" value="{{infos.key}}" (keyup.enter)="changeGroupInfos()">
                </td>
                <td>
                    <input id="value{{infosId}}" name="value{{infosId}}" value="{{infos.value}}" (keyup.enter)="changeGroupInfos()">
                </td>
            </tr>
                
            
        </table>
        <!--
         -->
    </div>
    <div id='regroupGroup' class='regroup-item'>
        <label>To change all users in this group, fill in the field down below and press "confirm" when ready.</label>
        <input #regroupGroupTbx id='regroupGroupTbx'>
        <button  (click)="regroupGroup(regroupGroupTbx.value)" [routerLink]="['/overview']">Confirm</button>
    </div>

</div>
<button [routerLink]="['/overview']" class='back'>Back</button>